# Ignore system files and directories
AppData/
cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
*.DAT
*.LOG1
*.LOG2
*.ini
*.viminfo
.bash_history
.gitconfig
NTUSER.*
*.regtrans-ms
*.blf
